  body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #9f9191; 
}

header {
    padding: 10px 100px;
    box-sizing: border-box;
}

section {
    width: 100%;
    height: 50vw;
}

section.sec1 {
    background: url(imagenes/cr.webp);
    background-size: cover;
}

section.sec2 {
    padding: 100px;
    box-sizing: border-box;
    height: auto;
}

section.sec2 h2 {
    font-size: 3em;
    margin: 0;
    padding: 0 0 20px;
    color: #2b2727;
}

section.sec2 p {
    font-size: 1.2em;
    margin: 0;
    padding: 0;
    color: #2b2727;
}

nav {
    width: 100%;
    height: 50px;
    background: rgba(0, 0, 0, 0.8);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    position: sticky;
    top: 0;
}

nav ul {
    display: flex;
    margin: 0;
    padding: 0 100px;
    float: right;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    display: block;
    color: #ad2121;
    padding: 0 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 50px;
}

#logo {
    width: 10%;
    height: auto;
}

.lista {
    color: #d37777;
}

section.simon {
    background: url(imagenes/simon.jpeg);
    background-size: cover;
}

section.se_parte {
    background: url(imagenes/claracava.jpeg);
    background-size: cover;
}

.search {
    position: relative;
    width: 15px;
    height: 15px;
    border-radius: 20px;
    padding: 10px;
    transition-duration: 500ms;
    cursor: pointer;
    background-repeat: no-repeat;
    font-size: 15px;
    color: transparent;
    border: 1px solid white;
    overflow: hidden;
    background: url(icons/search-white.svg) no-repeat transparent;
    background-size: 22px;
    background-position: 45% 50%;
}

.search:hover {
    cursor: pointer;
    border: 1px solid #FF9950;
    background: url(icons/search.svg) no-repeat transparent;
    background-size: 22px;
    background-position: 45% 50%;
}

.search:focus {
    width: 200px;
    cursor: pointer;
    padding-left: 40px;
    color: white;
    outline: none;
    border: 1px solid #FF9950;
    background-color: transparent;
    background: url(icons/search.svg) no-repeat;
    background-size: 22px;
    background-position: 10px 50%;
}

/* .container {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "header header header header"
      "body body body body"
      "body body body body"
      "footer footer footer footer"; 
} */

.header { 
    grid-area: header; 
}

.body { 
    grid-area: body; 
    color: #fff;
}

.footer { 
    grid-area: footer; 
}

/* .navbar {
    background-color: #817575;
} */

.sec2 {
    max-width: 100%;
    height: auto;
}

.image-container {
    display: flex;
    justify-content: center;
}

.image-wrapper {
    flex: 1;
}

.image {
    width: 100%;
    height: auto;
}

#unete {
    width: 300px;
    height: fit-content;
}

.custom-background-color {
    background-color: #7f0a0a;
}

p {
    font-size: auto;
    line-height: auto;
    max-width: 100%;
    width: auto;
    text-align: justify;
}

.footer {
    background-color: #847878;
    color: #2b2727;
    padding: 30px 0;
    text-align: center;
    width: 100%;
    left: 0;
    bottom: 0;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.footer-contact,
.footer-social {
    flex: 1 0 300px;
}

.footer-contact h3,
.footer-social h3 {
    color: #2b2727;
    font-size: 20px;
    margin-bottom: 15px;
}

.footer-contact p {
    font-size: 16px;
    margin-bottom: 10px;
}

.footer-text {
    margin-top: 20px;
    font-size: 14px;
}

.social-links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-links li {
    display: inline-block;
}

.social-links a {
    color: #fff;
    font-size: 24px;
}

.social-links a:hover {
    color: #ddd;
}

.image-container {
    position: relative;
}

.image-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
}


/* COUNTDOWN */
#contador {
    color: red; 
  }

  #contador_evento h1 {
    color: red; 
  }
  
  