body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #9f9191; 
  }
  
  header {
    padding: 10px 5%;
    box-sizing: border-box;
  }
  
  section {
    width: 100%;
    height: auto;
  }
  
  section.sec1 {
    background: url(imagenes/cr.webp);
    background-size: cover;
    height: 50vh;
  }
  
  section.sec2 {
    padding: 5%;
    box-sizing: border-box;
  }
  
  section.sec2 h2 {
    font-size: 3em;
    margin: 0;
    padding: 0 0 20px;
    color: #2b2727;
  }
  
  section.sec2 p {
    font-size: 1.2em;
    margin: 0;
    padding: 0;
    color: #2b2727;
  }
 
  
  #logo {
    width: 10%;
    height: auto;
  }
  
  .lista {
    color: #d37777;
  }
  
  section.simon {
    background: url(imagenes/simon.jpeg);
    background-size: cover;
  }
  
  section.se_parte {
    background: url(imagenes/claracava.jpeg);
    background-size: cover;
  }
  .header { 
    grid-area: header; 
  }
  
  .body { 
    grid-area: body; 
    color: #fff;
  }
  
  .footer { 
    grid-area: footer; 
  }
  
  .sec2 {
    max-width: 100%;
    height: auto;
  }
  
  .image-container {
    display: flex;
    justify-content: center;
  }
  
  .image-wrapper {
    flex: 1;
  }
  
  .image {
    width: 100%;
    height: auto;
  }
  
  #unete {
    width: 100%;
    max-width: 300px;
    height: fit-content;
  }
  
  .custom-background-color {
    background-color: #7f0a0a;
  }
  
  p {
    font-family: "Monaco", monospace; 
    font-size: auto;
    line-height: auto;
    max-width: 100%;
    width: auto;
    text-align: justify;
  }
  
  .footer {
    background-color: #847878;
    color: #2b2727;
    padding: 5% 0;
    text-align: center;
    width: 100%;
    left: 0;
    bottom: 0;
  }
  
  .footer-content {
    font-family: "Monaco", monospace; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
  }
  
  .footer-contact,
  .footer-social {
    flex: 1 0 300px;
  }
  
  .footer-contact h3,
  .footer-social h3 {
    color: #2b2727;
    font-size: 20px;
    margin-bottom: 15px;
  }
  
  .footer-contact p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .footer-text {
    margin-top: 20px;
    font-size: 14px;
  }
  
  .social-links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .social-links li {
    display: inline-block;
  }
  
  .social-links a {
    color: #fff;
    font-size: 24px;
  }
  
  .social-links a:hover {
    color: #ddd;
  }
  
  .image-container {
    position: relative;
  }
  
  .image-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
  }
  
  /* COUNTDOWN */
  #contador {
    color: red; 
    
  }
  
  #contador_evento h1 {
    color: red; 

  }
  
  /* Media Queries */
  
  /* Pantallas pequeñas */
  @media (max-width: 767px) {
    header {
      padding: 10px 5%;
    }
  
    nav ul {
      padding: 0 5%;
    }
  
    section.sec2 {
      padding: 5%;
    }
  
    .footer-content {
      gap: 20px;
    }
  }
  
  /* Pantallas medianas */
  @media (min-width: 768px) and (max-width: 1023px) {
    header {
      padding: 10px 10%;
    }
  
    nav ul {
      padding: 0 10%;
    }
  
    section.sec2 {
      padding: 10%;
    }
  
    .footer-content {
      gap: 30px;
    }
  }
  
  /* Pantallas grandes */
  @media (min-width: 1024px) {
    header {
      padding: 10px 15%;
    }
  
    nav ul {
      padding: 0 15%;
    }
  
    section.sec2 {
      padding: 15%;
    }
  
    .footer-content {
      gap: 40px;
    }
  }
  
/* nav bar */
@media (max-width: 991px) {
  .navbar-collapse {
    position: fixed;
    top: 10px;
    bottom: 10px;
    right: -100%;
    width: 80%;
    max-width: 300px;
    padding-top: 35px;
    padding-left: 35px;
    background-color: #fff;
    transition: right 0.3s ease-in-out;
    height: 200px;
    border-radius: 7px;
    font-family: "Monaco", monospace; /* Agregar la tipografía deseada */
    color: #3b8a40; /* Agregar el color medio verde (#3b8a40) */
    font-size: 22px; /* Agregar el tamaño de letra más grande */

  }

  .navbar-collapse.show {
    right: 0;
  }

  .navbar-nav {
    flex-direction: column;
  }

  .navbar-nav .nav-item {
    margin-bottom: 10px;
  }

  .navbar-toggler {
    position: absolute;
    top: 15px;
    right: 15px;
  }
}
/* navbar  */
.navbar-sticky {
  position: sticky;
  top: 0;
  z-index: 100;
  font-family: "Monaco", monospace; 
}

/* cuenta regresiva */